[submodule "assignment0"]
	path = assignment0
	url = https://github.com/Deep-Thakkar-1910/Turbine_assignment0.git
[submodule "assignment1"]
	path = assignment1
	url = https://github.com/Deep-Thakkar-1910/Turbine_assignment1.git
[submodule "assignment1_tui_version"]
	path = assignment1_tui_version
	url = https://github.com/Deep-Thakkar-1910/Turbine_assignment1_TUI_version.git
[submodule "assignment2"]
	path = assignment2
	url = https://github.com/Deep-Thakkar-1910/Turbine_assignment2.git
[submodule "assignment3_vault"]
	path = assignment3_vault
	url = https://github.com/Deep-Thakkar-1910/Turbine_assignment3_vault.git
[submodule "assignment3_escrow"]
	path = assignment3_escrow
	url = https://github.com/Deep-Thakkar-1910/Turbine_assignment3_escrow.git
[submodule "assignment4_amm"]
	path = assignment4_amm
	url = https://github.com/Deep-Thakkar-1910/Turbine_assignment4_amm.git
